/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.about {
  &__inner {
    padding: 50px 150px;
  }
}
.skill {
  &__inner {
    padding: 50px 150px;
  }
}

.side {
  display: block;
}
