@charset "UTF-8";
/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.about__inner {
  padding: 50px 150px;
}

.skill__inner {
  padding: 50px 150px;
}

.side {
  display: block;
}
